html,
body {
    color: white;
    width: 100%;
    scroll-behavior: smooth;
}

.bg_img {
    width: 100%;
}

#tm-video {
    width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* floating menu */
.floating-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: 80vh;
    right: 50px;
    top: 50%;
    transform: translate(0, -50%);

    z-index: 100;
    border-radius: 40.5px;
    background-color: #707070;
}

.floating-menu a {
    color: #fff;
    padding: 2vh;
    font-size: 4vh;
}

.active {
    background-color: greenyellow;
    border-radius: 50%;
}

/* service_view_1 CSS */
.service_view_1 {
    width: 100%;
    height: auto;
}

/* service_view_2 CSS */
.service_view_2 {
    display: flex;
    justify-content: center;
    margin-top: 11vw;
}

/* service_view_3 CSS */
.service_view_3 {
    position: relative;

    width: 100%;
    height: fit-content;
    margin-top: 9vw;
}

.service_view_3 .group_1 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 9.5vw;
}

.service_view_3 .item_1 {
    position: relative;
    width: 30.6%;
}

.service_view_3 .item_2 {
    position: relative;
    width: 21%;
}

.service_view_3 .group_2 {
    display: flex;
    width: 100%;
    margin-top: -4vw;
    justify-content: center;
    gap: 9.5vw;
}

.service_view_3 .item_3 {
    position: relative;
    width: 31.6%;
}

.service_view_3 .item_4 {
    position: relative;
    width: 21.2%;
    margin-top: 4vw;
}


/* service_view_4 CSS */
.service_view_4 {
    position: relative;
    overflow: hidden;
    margin-top: 9vw;
    width: 100%;
}

.service_view_4 .scroll_size {
    height: 10vw;
}

.service_view_4 .scroll_bar {
    display: flex;
    position: relative;
    gap:9vw;
}
@keyframes marquee_left {
	0% {
		left: 0;
	}
	100% {
		left: -113%;
	}
}
.animate_left {
	width: 226%;
	animation: marquee_left 10s linear infinite;
}

/* service_view_5 CSS */
.service_view_5 {
    display: flex;
    justify-content: center;
    margin-top: 9vw;
}

/* service_view_6 CSS */
.service_view_6 {
    display: flex;
    justify-content: center;
    margin-top: 9vw;
}

/* service_view_7 CSS */
.service_view_7 {
    margin-top: 9vw;
}

.service_view_7 .view_7 {
    width: 43vw;
    margin-top: 4vw;
    margin-inline-start: 40vw;
}

/* service_view_8 CSS */
.service_view_8 {
    margin-top: 9vw;
}

.service_view_8 .view_8 {
    width: 43vw;
    margin-top: 4vw;
    margin-inline-start: 40vw;
}

/* service_view_9 CSS */
.service_view_9 {
    display: flex;
    justify-content: center;
    margin-top: 11vw;
    margin-bottom:11vw;
}

.service_view_9 .view_9_text {
    width: 40vw;
}

.service_view_9 .view_9_img {
    width: 37vw;
}
